@import "./loading.scss";

$mainColor: #d10000;
$secondaryColor: #e6dbd0;

body {
  padding-bottom: 20px;
  background: $secondaryColor;
  font-family: 'Maven Pro', sans-serif;
}
a {
  color: $mainColor;
}
.navbar {
  background: #0f0f0f;
  .container {
    .row {
      width: 100%;
    }
  }
  .navbar-brand {
    color: #fff;
  }
  .btn-info-wrap {
    text-align: right;
  }
}
.nav-tabs {
  margin-top: 20px;
  .nav-item {
    a {
      &:not(.active) {
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}
.info {
  color: #000;
  padding: 15px 0;
  p {
    font-size: 14px;
    strong {
      font-size: 1.2em;
    }
  }
}

.info-group {
  padding: 20px 10px;
}

.upload-btn-wrapper {
  position: relative;
  display: inline-block;
  &:hover {
    .btn {
      background-color: #f5f5f5;
      color: $mainColor;
    }
  }
  .btn {
    color: #fff;
    background-color: $mainColor;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
  }
  input[type=file] {
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.movies-data {
  h1 {
    font-size: 2rem;
    margin-top: 2rem;
    color: $mainColor;
  }
}

.tab-content {
  margin-top: -1px;
  border: 1px solid #ddd;
  border-top: none;
  background: #fff;
}
table {
  &.table-list {
    tr {
      th {
        &:hover {
          color: #069;
          cursor: pointer;
          text-decoration: underline;
        }
        &.date {
          width: 120px;
        }
        &.rating {
          min-width: 75px;
          text-align: center;
          &.difference {
            min0width: 120px;
          }
        }
      }
      td {
        font-size: 13px;
        padding: 5px 10px;
        &.center {
          text-align: center;
        }
      }
    }
  }
}

.card {
  .card-header {
    background: #fff;
    border-bottom: 1px solid $mainColor;
    text-transform: uppercase;
  }
}

@media (min-width: 576px) {
  .brand-wrap {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .navbar {
    .brand-wrap {
      text-align: center;
      .navbar-brand {
        margin-right: 0;
      }
    }
    .btn-info-wrap {
      text-align: center;
      line-height: 44px;
    }
  }
}
